{%extends 'base.html'%}
{% load static  %}
    {% block head %}
    <link rel="stylesheet" href="{%static 'index.css' %}">
    {% endblock%}
    {% block content%}
    {% for x in objs %}
<h1>THIS IS DOCTOR DASHBOARD
    <BR><BR>
    welcome {{x.fname}} {{x.lname}}<br>
    Your City :-{{x.city}}<br>
    Your Pincode :-{{x.pin}}<br>
    Your State :-{{x.state}}<br>
    Your email :-{{x.email}}<br>
    Your Photo :-<br><img src="{{x.pic.url}}"><br>
    Your Lane :-{{x.lane}}<br>
</h1>
    {%endfor%}
    {% endblock %}
