{% load static  %}
<link rel="stylesheet" href="{%static 'sign_in.css' %}">
<center>
<h2>Login Form</h2>
</center>
<div class="center1">
	<div class="box">
		<form method="post">
		{% csrf_token %}
		<div class="container">
			<label for="uname"><b>Username</b></label>
			<input type="text" placeholder="Enter Username" name="uname" required>

			<label for="psw"><b>Password</b></label>
			<input type="password" placeholder="Enter Password" name="password" required>

			<button type="submit">Login</button>
		</div>


		</form>
		<center><h4>Do not have login <a href="{% url 'sign_up' %}"> Sign up</a></h4></center>
	</div>
</div>
